<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SignUp</title>
        <style>
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            input {
                padding: 4px 4px;
            }
        </style>
    </head>

    <body>
        <h1>SignUp</h1>
        <form action="/user" method="post">
            <label for="name">Name : </label>
            <input type="text" required name="name">
            <label for="email">Email : </label>
            <input type="email" required name="email">
            <label for="password">Password : </label>
            <input type="password" required name="password">
            <button type="submit">SignUp</button>
        </form>
    </body>

</html>